@font-face {
    font-family: Montserrat;
    src: url('Fonts/Montserrat-Regular.ttf');
}

@font-face{
  font-family: Consolas_Custom;
  src: url('Fonts/CONSOLA.TTF');
}
#main-screen{
    display:none;
    font-family:Consolas_Custom;
}

html{
    scroll-behavior: smooth;
}

body{
    width: 100%;
    margin:0;  
}

/*SCROLL BAR*/
body::-webkit-scrollbar {
  width: 0.5em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: #000000;
}

@media (max-width: 600px) {
    #logo { display: none; }
    #work, #certBtns, #qoute, #contact_section, #title, #myName { text-align: center; }
    #stat_cont { border-bottom: 1px solid #b0b0b0; padding: 15px; margin-top: 1%; }
    #loader { object-fit: contain; }
    #myPic { max-height: 300px; object-fit: contain; border-radius:20px;}
}

.skill_stack {
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.skill_stack:hover {
  opacity: 70%;
  transform: scale(0.95);
}


.services_icon {
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.services_icon:hover {
  opacity: 70%;
  transform: scale(0.95);
}

#title{
    font-size:20px;
}

#myPic{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    object-fit: cover;
}

#system_preview{
    width:100%;
    height:40vh;
    object-fit: contain;
}

#system_name, #nav-mobile a, #mobile-demo a, #logo {
    font-weight: bold;
}

nav {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

#system_info {
    color: #827d7d;
}

#floatingBtn {
    display: none;
}

.skill_icon {
    width: 200px;
}

.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.loader {
  margin: 60px auto;
  font-size: 20px;
  position: relative;
  margin-top:15%;
  text-indent: -9999em;
  border-top: 1.1em solid #000000;
  border-right: 1.1em solid #000000;
  border-bottom: 1.1em solid #000000;
  border-left: 1.1em solid #ffffff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.gradient-button {
    background: linear-gradient(
        45deg,
        #ffffff,
        #f1f3f5,
        #dee2e6,
        #ced4da,
        #adb5bd,
        #868e96,
        #495057,
        #343a40
    );
    background-size: 450% 450%;
    animation: cloudDancer 14s linear infinite;

    color: #212529;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

@keyframes cloudDancer {
    0%   { background-position: 0% 0%; }
    50%  { background-position: 100% 100%; }
    100% { background-position: 0% 0%; }
}


#certs img {
    border-color:white;
    border-style:solid;
    border-width: 2px;
    flex-wrap:wrap;
}


@keyframes rgbEffect {
    0% { border-color: black; }
    10% { border-color: #333; }
    20% { border-color: #666; }
    30% { border-color: #999; }
    40% { border-color: #CCC; }
    50% { border-color: white; }
    60% { border-color: #CCC; }
    70% { border-color: #999; }
    80% { border-color: #666; }
    90% { border-color: #333; }
    100% { border-color: black; }
}

.responsive-iframe {
    position: relative;
    width: 100%;
    padding-top: 56.25%; /* 16:9 aspect ratio */
}

.responsive-iframe iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

#upskill a {
    text-decoration: underline;
    font-weight: bold;
}

.rotate_hover {
  display: inline-block;
  transition: transform 0.3s ease;
}
.rotate_hover:hover {
  transform: rotate(15deg);
}

.grayscale-50 {
    filter: grayscale(50%);
} 


#portfolio_content .card {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  height: 100%;
  padding:10px;
}

#portfolio_content .card-image {
  flex-shrink: 0;
}

#portfolio_content .card-content {
  flex-grow: 1;
}
